:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Hero', sans-serif;

    --main-color: #1f2937;
    --button-color: #3882F6;
    --quote-color: #E5E5E7EB;
}

* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header, footer {
    padding: 0% 10%;
}

button:hover{
    cursor: pointer;
}

/* HEADER */
header {
    display: flex;
    background-color: var(--main-color);
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.logo {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

/* HEADER EXTENSION */
.header-extension {
    background-color: var(--main-color);
    display: flex;
    padding: 6% 15%;
    gap: 16px;
}

.header-extension h2 {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}

.header-extension p {
    color: white;
    font-size: medium;
}

.header-extension img {
    padding: 10px;
    object-fit: scale-down;
    flex: 1 1 0;
}

.header-extension-text {
    flex: 4 1 0;
}

.header-extension button {
    background-color: var(--button-color);
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 25px;
}

/* CARDS CONTAINER */

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 20%;
}

.cards-container h2{
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}
.cards {
    display: flex;
    width: 100%;
    margin-top: 30px;
    gap: 32px;
    
}

.card {
    flex: 1 1 25%;

    display: flex;
    flex-direction: column;
    font-size: small;
    color: var(--main-color);
    font-style: italic light;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.card img {
    align-self: center;
    width: 100%;
    flex: 1 1 auto;
    border-radius: 5px;
    border: 2px solid var(--button-color);
}

.card p {
    width: 100%;
    flex: 1 1 auto;
}


/* QUOTE CONTAINER */
.quote-container {
    background-color: var(--quote-color);
    padding: 5% 20%;
    font-weight: 100;
    font-style: italic light;
    color: var(--main-color);
}

.quote {
    display: flex;
    flex-direction: column;
}

.author {
    font-style: oblique;
    font-weight: 600;
    align-self: flex-end;
}


/* SIGN UP CONTAINER */
.sign-up-container {
    background-color: var(--button-color);
    margin: 5% 20%;
    padding: 3%;
    border-radius: 5px;
    color: white;
    font-size: small;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.sign-up-container button, .sign-up-text {
    flex: 1 1 auto;
}

.sign-up-container button{
    background-color: var(--button-color);
    border: 2px solid white;
    color: white;
    flex: 0 0 auto;
    padding: 5px 25px;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: var(--main-color);
    color: white;
    padding: 1% 10%;
    text-align: center;
}

